@using Vacancy.Core
@using Vacancy.Repository.Dto.SkillDto
@model IEnumerable<Skill>

@{
}


<h1>Навички</h1>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>SkillId</th>
            <th>SkillName </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.SkillId</td>
                <td>@u.SkillName </td>             

                <td>
                    <a href="/users/edit/@u.SkillId" class="btn btn-warning">Редагувати</a>
                    <a href="/users/delete/@u.SkillId" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

